[Unit]
Description=PiSensor Sensirion Handling service
After=network.target
StartLimitIntervalSec=3

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=<DEST_FOLDER>/.bin/python <DEST_FOLDER>/sensirion_pisensor.py

[Install]
WantedBy=multi-user.target